<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property
                name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property
                name="connection.url">jdbc:mysql://localhost:3306/schooldb</property>
        <property name="connection.username">root</property>
        <property
            name="connection.password">admin</property>
        <property
            name="dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <property
            name="hbm2ddl.auto">create</property>
        <property
            name="show_sql">true</property>
<!--        <mapping class="Student"></mapping>-->
<!--        <mapping class="OneToOne.Answer"></mapping>-->
<!--        <mapping class="OneToOne.Question"></mapping>-->
<!--        <mapping class="OneToMany.Question"></mapping>-->
<!--        <mapping class="OneToMany.Answer"></mapping>-->
            <mapping class="ManyToMany.Project"></mapping>
            <mapping class="ManyToMany.Employee"></mapping>


    </session-factory>
</hibernate-configuration>